:root {
  // colors

  --background: #000000;
  --secondary-background: #070707;

  --space-dust-color: #68461c;

  --primary-text-color: #e8e8e8;

  // vents

  --vent: #212121;
  --vent-entrance: #1e1e1e;
  --vent-opening: #3e3e3e;

  // terminal

  --terminal-primary-color: #162f19;
  --terminal-secondary-color: #12b969;
  --terminal-tertiary-color: #136541;
}
